:root {
  /* Colors */
  --clr-dark-blue-100: hsl(208, 58%, 60%);
  --clr-dark-blue-200: hsl(211, 52%, 44%);
  --clr-dark-blue-300: hsl(213, 84%, 24%);
  --clr-dark-blue-400: hsl(216, 87%, 20%);
  --clr-dark-blue-500: hsl(219, 88%, 17%);

  --clr-light-blue-100: hsl(227, 60%, 97%);
  --clr-light-blue-200: hsl(229, 52%, 96%);
  --clr-light-blue-300: hsl(228, 52%, 94%);
  --clr-light-blue-400: hsl(229, 34%, 75%);
  --clr-light-blue-500: hsl(230, 28%, 58%);

  --clr-gray-100: hsl(210, 14%, 83%);
  --clr-gray-200: hsl(210, 11%, 71%);
  --clr-gray-300: hsl(210, 7%, 56%);
  --clr-gray-400: hsl(210, 9%, 31%);
  --clr-gray-500: hsl(210, 10%, 23%);

  /* Colors by component */
  --clr-background-000: hsl(0, 0%, 100%);
  --clr-background-100: var(--clr-light-blue-100);

  --clr-text-accent-0: var(--clr-background-000);
  --clr-text-accent-1: var(--clr-dark-blue-300);
  --clr-text-accent-2: var(--clr-gray-400);
  --clr-text-accent-3: var(--clr-gray-500);

  /* Shadow */
  --clr-bg-shadow: hsl(0, 0%, 77%);
  --clr-box-shadow: rgba(0, 0, 0, 0.08);

  /* font family */
  --ff-primary: 'Inter', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-accent: var(--ff-primary);

  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* font size */
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3rem;
  --fs-900: 3.5rem;

  /* font size by component */
  --fs-body: var(--fs-400);
  --fs-heading: var(--fs-500);

  --fs-text-input: var(--fs-600);
  --fs-text-output: var(--fs-500);

  --fs-comment-warning: var(--fs-300);
  --fs-button: var(--fs-400);

  /* spacing */
  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-650: 2.5rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-850: 4.5rem;
  --size-900: 5rem;
}

/* @media (min-width: 47em) {
  :root {
      --fs-body: var(--fs-500);
      --fs-primary-heading: var(--fs-900);
      --fs-secondary-heading: var(--fs-800);

      --fs-nav: var(--fs-300);
  }
} */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  /* min-height: 100%; */
  /* overflow-x: hidden; */
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  line-height: 1.5;

  color: var(--clr-text-accent-1);
  background-color: var(--clr-background-100);

  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.header {
  align-self: flex-start;
}

.logo__wrapper {
  margin-block-start: var(--size-500);
  padding-inline-start: var(--size-400);
  margin-block-end: var(--size-800);
}


.encrypter__input {
  margin-inline: var(--size-400);
}


.input__text-wrapper {
  /* padding-inline: var(--size-400); */
}

.input__text {
  display: block;
  border: none;
  background-color: transparent;
  outline: none;
  resize: none;

  width: 100%;
  min-height: 300px;
  font-size: var(--fs-600);
  color: var(--clr-text-accent-1);
}

.input__text::placeholder {
  color: var(--clr-text-accent-1);
}

.input__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* margin-inline: var(--size-400); */
}

.controls__warning {
  font-size: var(--fs-300);
  margin-block-end: var(--size-400);
  display: flex;
  align-items: center;
  gap: var(--size-100);
}

.controls__buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: var(--size-500);
}

.controls__buttons-wrapper button {
  border: 1px solid var(--clr-dark-blue-300);
  border-radius: var(--size-500);
}

.controls__encrypt {
  padding-block: var(--fs-500);
  background-color: var(--clr-dark-blue-300);
  color: var(--clr-text-accent-0);
}

.controls__dencrypt {
  padding-block: var(--fs-500);
  color: var(--clr-dark-blue-300);
  background-color: transparent;
}


.encrypter__output {
  padding: var(--fs-600);
  margin: var(--size-500);
  background-color: var(--clr-background-000);
  box-shadow: 0px 24px 32px -8px var(--clr-box-shadow);
  border-radius: var(--size-600);
}

.output__message {
  display: none;
  flex-direction: column;
  justify-content: center;
}

.output__message-image {
  display: none;
}

.output__message-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--size-400);

  text-align: center;
}

.output__message-h3{
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  line-height: 1.2;
  color: var(--clr-text-accent-2);
}

.output__message-p{
  font-size: var(--fs-400);
  color: var(--clr-text-accent-2);
}

.output__display {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--size-600);
}

.output__display-text {
  word-wrap: break-word;
}


.controls__copy {
  border: 1px solid var(--clr-dark-blue-300);
  border-radius: var(--size-500);
  padding-block: var(--fs-500);
  color: var(--clr-dark-blue-300);
  background-color: transparent;
}

.active {
  display: flex;
}


@media (min-width: 48em) {


  .logo__wrapper {
    padding-inline-start: var(--size-650);
    margin-block-start: var(--size-850);
    margin-block-end: calc(var(--size-900) + var(--size-650));
  }

  .encrypter__input {
    margin-inline: var(--size-650);
  }

  .encrypter__output{
    margin-inline: var(--size-650);
  }

  .controls__buttons-wrapper {
    flex-direction: row;;
  }

  .controls__buttons-wrapper button {
    flex-basis: 50%;
  }
}

@media (min-width: 90em) {

  body {
    flex-direction: row;
    padding: var(--size-600);
  }

  .logo__wrapper {
    padding-inline-start: var(--size-900);
    padding-inline-end: var(--size-800);
    margin-block-start: var(--size-650);
    margin-block-end: var(--size-900);
  }

  .encrypter {
    flex: 1;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .encrypter__input{
    /* flex-basis: 100%; */
    flex: 2;
    margin-inline: initial;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .input__text-wrapper {
    min-height: 680px;
  }

  .encrypter__output {
    /* flex-basis: 100%; */
    flex: 1;
    margin-inline: var(--size-650);
    max-width: 400px;

    display: flex;
    /* flex-direction: column; */
  }

  .output__message-image {
    display: initial;
  }

}

/* pseudo classes*/

.controls__encrypt:hover{
  background-color: var(--clr-dark-blue-200);
}

.controls__encrypt:focus-within {
  background-color: var(--clr-dark-blue-500);
}

.controls__dencrypt:hover {
  background-color: var(--clr-background-000);
}

.controls__dencrypt:focus-within {
  background-color: var(--clr-light-blue-300);
}

.controls__copy:hover {
  background-color: var(--clr-light-blue-300);
}

.controls__copy:focus-within {
  background-color: var(--clr-light-blue-100);
}
/* p:not([class]) {
  opacity: 0.7;
  max-width: 32ch;
} */

/* p[data-width="wide"] {
  max-width: 42ch;
} */

/* personalized styling */